{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <ul>
            <li>   
                <a  href="{{ path('app_member_index') }}">Insciption d'un membre</a>
            </li>     
        </ul>
    </div>
{% endblock %}
