<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{path('app_home')}}">
    <img class="logo-nav"  src="{{asset('build/logo.jpg')}}" alt="logo Ocean's Fighters">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <a href="{{ path('app_login') }}">
      <button class="btn btn-outline-primary">Se connecter</button>
    </a>
  </div>
</nav>